body{
    background-color: black;
    height: 100%;
}

#clock{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

#time_limit{
    color: red;
    font-size: 50px;
    margin: auto;
    text-align: center;
    border: 1px;
    border-color: red;
}

#prog_table{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.cell {
    flex: 1 1 auto;
    color: red;
    /* border-bottom: 1px solid red; */
    }

.row .cell:nth-child(1) {
  width: 30%;
  }
.row .cell:nth-child(2) {
  width: 55%;
  position: relative;
  display: flex;
  }
.row .cell:nth-child(3) {
  width: 20%;
  }

#title{
    margin-top: 3em;
}
  h3 {
    color: red;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
h4 {
    color: rgb(85, 127, 255);
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

progress {
    -webkit-appearance: none;
    margin: auto;
    margin-left: 0;
    width : 90%;
    }
::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.75);
    }
::-webkit-progress-value {
    background-color: red;
    }

.ratio{
    color: black;
    position: absolute;
    left: 30%;
}